.indent-paragraph {
  text-indent: 30px;
  padding: 0px 10px;
}
.body-background {
  background-color: #e8e6a3;
}
.navbar-default {
  background-color: #cb1318;
  border-color: #cb1318;
  border-radius: 0px;
}
.white-block {
  background-color: #fff;
}
.blue-block {
  background-color: #001967;
}
.yellow-block {
  background-color: #e3c73b;
}
.white-text {
  color: #fff;
}
